/.settings/
.project

/spring-aop/.settings/
/spring-aop/.project
/spring-aop/.classpath

/spring-aspects/.settings/
/spring-aspects/.project
/spring-aspects/.classpath

/spring-beans/.settings/
/spring-beans/.project
/spring-beans/.classpath

/spring-context/.settings/
/spring-context/.project
/spring-context/.classpath

/spring-context-support/.settings/
/spring-context-support/.project
/spring-context-support/.classpath

/spring-core/.settings/
/spring-core/.project
/spring-core/.classpath

/spring-expression/.settings/
/spring-expression/.project
/spring-expression/.classpath

/spring-framework-bom/.settings/
/spring-framework-bom/.project


/spring-instrument/.settings/
/spring-instrument/.project
/spring-instrument/.classpath

/spring-instrument-tomcat/.settings/
/spring-instrument-tomcat/.project
/spring-instrument-tomcat/.classpath

/spring-jdbc/.settings/
/spring-jdbc/.project
/spring-jdbc/.classpath

/spring-jms/.settings/
/spring-jms/.project
/spring-jms/.classpath

/spring-orm/.settings/
/spring-orm/.project
/spring-orm/.classpath

/spring-orm-hibernate4/.settings/
/spring-orm-hibernate4/.project
/spring-orm-hibernate4/.classpath

/spring-oxm/.settings/
/spring-oxm/.project
/spring-oxm/.classpath

/spring-struts/.settings/
/spring-struts/.project
/spring-struts/.classpath

/spring-test/.settings/
/spring-test/.project
/spring-test/.classpath

/spring-test-mvc/.settings/
/spring-test-mvc/.project
/spring-test-mvc/.classpath

/spring-tx/.settings/
/spring-tx/.project
/spring-tx/.classpath

/spring-web/.settings/
/spring-web/.project
/spring-web/.classpath

/spring-webmvc/.settings/
/spring-webmvc/.project
/spring-webmvc/.classpath

/spring-webmvc-portlet/.settings/
/spring-webmvc-portlet/.project
/spring-webmvc-portlet/.classpath

/spring-webmvc-tiles3/.settings/
/spring-webmvc-tiles3/.project
/spring-webmvc-tiles3/.classpath